apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-service
  labels:
    app: application-service
spec:
  replicas: 3  # Number of instances (pods) to run
  selector:
    matchLabels:
      app: application-service
  template:
    metadata:
      labels:
        app: application-service
    spec:
      containers:
      - name: application-service
        image: vinaymamidala/application-service  # Replace with your Docker image
        ports:
          - containerport: 3000
        resources:
          limits:
            memory: "512Mi"
            cpu: "1"
          requests:
            memory: "256Mi"
            cpu: "0.5"
      restartPolicy: Always

