apiVersion: v1
kind: Service
metadata:
  name: application-service
spec:
  selector:
    app: application-service
  ports:
    - protocol: TCP
      port: 3080        # Exposes port 80 for internal traffic
      targetPort: 3000 # Internal container port
  type: ClusterIP     # For internal use only

